.signin-container{
    width: 400px;
    background-color: rgba(84, 84, 84, 0.502);
    justify-self: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
}

.signin-btn{
    margin-top: 20px;
    margin-bottom: 30px;
}