@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.quick-booking-container {
  background: #3f51b5;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 10px;

  span{
    color: white;
  }

  .header{    
    color: white;
    font-size: x-large;
    font-family: 'Permanent Marker', cursive;
  }

  .spacer{
    flex-grow: 1;
  }

  .mr-1{
    margin-right: 10px;
  }
}
