.background {
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6)),
    url("../../assets/movies-background.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
}

img.logo-img {
  height: 50px;
  padding: 10px 0px 0px 10px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

Button {
  padding: 10px 10px 0px 0px;
}

main {
  color: white;
  padding: 100px 50px;
  display: flex;
  justify-content: center;
}
