@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.title{
  font-size: 20px;
  font-family: "Lobster", cursive;
}

.paragraph{
  font-size: 12px;
  font-family: "Lobster", cursive;
  color: rgb(108, 95, 95);
}